.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.cards {
  width: 1000px;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 50px;
}
